<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">

        <!-- make it responsive -->
        <meta name="viewport" content="initial-scale=1, width=device-width">


        <link href="../static/images/favicon-32x32.png" rel="icon">

        <title>Galeeza ⎮ Automated Trip Planner - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-light pb-5 pt-3">
            {% if session["user_id"] %}
                <div class="container-xxl">

                    

                    <!-- toggle button for mobile -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                    aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- navbar links -->
                    <!-- <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav"> -->
                    <div class="collapse navbar-collapse justify-content-center border-bottom pb-3" id="main-nav">

                        <div class="col-md-8">
                            <a class="navbar-brand" href="#">
                                <img src="../static/images/logo-blue.png" alt="Bootstrap" width="w-auto" height="24">
                            </a>
                        </div>

                        <ul class="navbar-nav d-flex end-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Your Trips</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/plan">Plan a Trip</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Log Out</a>
                            </li>
                        </ul>

                    </div>
                </div>
            {% else %}
                <div class="container-xxl">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {% block nav %}{% endblock %}
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>

        <!-- CHECK THIS GUY'S VIDEOS -->
        <!-- https://www.youtube.com/watch?v=7AT1X9Z41sA -->

        <!-- Main -->
        <!-- add the containers inside each page -->
        {% block main %}{% endblock %}

        <!-- Footer -->
        {% if session["user_id"] %}
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                    </a>
                    <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Galeeza, Inc. All rights reserved.</span>
                </div>
                </footer>
            </div>
        {% else %}
            <div class="container fixed-bottom">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                    </a>
                    <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Galeeza, Inc. All rights reserved.</span>
                </div>
                </footer>
            </div>
        {% endif %}
        
        <!-- Bootstrap JS -->
        <!-- when you use bootstrap.bundle.min.js, you do not need to include the scripts for Popper and jQuery because they're already included in this script -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->

        <!-- jQuery -->
        <!-- the first script has slim which was causing some issues in the code, so use the second script (shorter one) -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!-- Bootstrap Popper -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
                   
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <!-- Styles CSS -->
        <link href="../static/style.css" rel="stylesheet">


        
    </body>
</html>