{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <form action="/plan" method="post">
        <p>PLAN YOUR TRIP</p>
    </form>
{% endblock %}

<!-- CONSOLE: https://console.apify.com/actors/dbEyMBriog95Fv8CW/runs/dKXtW37GPEla1mVz7#output -->
<!-- IMPORT CSV FILE INTO MYSQL - https://learnsql.com/blog/import-csv-mysql-database/#:~:text=In%20the%20MySQL%20database%2C%20there,a%20look%20at%20each%20one. -->


<!-- add the containers inside each page -->









